<section
  class="min-h-full bg-linear-to-b from-transparent to-black flex flex-col text-white"
>
  <h2 class="text-5xl text-center font-bold m-20">Proyectos</h2>
  <div class="flex justify-center">
    <div class="w-[2px] bg-[#555] relative flex items-center">
      <span class="rounded-full absolute text-5xl text-yellow-300">•</span>
    </div>
    <p>Delta Inc.</p>
  </div>
</section>
