---
import { ChevronRight } from "@lucide/astro";
import { Image } from "astro:assets";

const { description, image, alt, href, icon } = Astro.props;
---

<li class="relative flex gap-4 w-full justify-between">
  <div class="flex">
    <div
      class="before:absolute before:left-[8.5px] before:h-full before:w-[1px] before:bg-neutral-400 before:-z-10"
    >
      <span class="text-5xl text-yellow-300">•</span>
    </div>
    <div class="ml-6 flex flex-col">
      <h3 class="text-3xl font-medium mt-2">
        <slot />
      </h3>
      <div class="flex gap-2">
        {icon && icon.map((Icon: any) => <Icon size={24} />)}
      </div>
    </div>
  </div>
  <div class="text-white flex justify-center items-baseline gap-16 mb-16 mt-2">
    <div class="w-[70ch] flex-col">
      <p class="text-lg text-[#ddd] text-balance">
        {description}
      </p>
      <a
        href={href}
        target="_blank"
        class="text-blue-400 flex underline text-lg font-medium items-center hover:text-blue-500"
        >Saber más<ChevronRight size={18} /></a
      >
      <div
        class="w-[80%] overflow-hidden rounded-xl mt-6 border-1 border-gray-600 hover:scale-x-101 hover:scale-y-101 transition-all duration-400"
      >
        <Image
          src={image}
          alt={alt}
          class="scale-x-105 scale-y-105 hover:scale-x-100 hover:scale-y-100 transition-all duration-400"
        />
      </div>
    </div>
  </div>
</li>
