---
import "../styles/global.css";
import "@fontsource-variable/rubik";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#111" />
    <meta
      name="description"
      content="Portfolio web de Angel, un desarrollador FullStack"
    />
    <meta
      name="keywords"
      content="desarrollador fullstack, portfolio, programador, web developer, frontend, backend"
    />
    <meta name="author" content="Angel Torres" />
    <meta name="creator" content="Angel Torres" />
    <meta
      property="og:title"
      content="Portfolio | Angel - Desarrollador FullStack"
    />
    <meta
      property="og:description"
      content="Portfolio web de Angel Torres, un desarrollador FullStack especializado en tecnologías modernas"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://angeltorresdev.vercel.app" />
    <meta
      property="og:image"
      content="https://angeltorresdev.vercel.app/ogimage.png"
    />
    <meta property="og:locale" content="es_MX" />

    <link rel="canonical" href="https://angeltorresdev.vercel.app" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>Portfolio | Angel</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: #111;
    font-family: "Rubik Variable", sans-serif;

    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
