---
import { Image } from "astro:assets";

import Avatar from "../../assets/avatar.png";
import { ChevronDown } from "@lucide/astro";
import LinkedinIcon from "../../assets/iconos/LinkedinIcon.astro";
import GithubIcon from "../../assets/iconos/GithubIcon.astro";
---

<main
  class="text-white flex justify-center items-center gap-12 h-full relative"
>
  <div class="flex flex-col gap-2" id="hero-text">
    <h1 class="text-5xl">
      Hola, soy <span class="font-bold">Angel</span>
    </h1>
    <p class="text-2xl italic text-end">FullStack Developer</p>
    <div class="flex justify-end items-center gap-4 mt-2">
      <a
        href="https://github.com/angeltorres02"
        target="_blank"
        class="hover:scale-105 transition-all"
      >
        <GithubIcon size={40} />
      </a>

      <a
        href="https://www.linkedin.com/in/luis-angel-vidal-torres-71b592326/"
        target="_blank"
        class="hover:scale-105 transition-all"
      >
        <LinkedinIcon size={40} />
      </a>
    </div>
  </div>
  <Image
    src={Avatar}
    alt="Avatar de Angel"
    width={150}
    height={150}
    class="rounded-full"
  />

  <div class="absolute bottom-10 flex flex-col items-center gap-2">
    SCROLL <span class="animate-bounce"><ChevronDown /></span>
  </div>
</main>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  let split = SplitText.create("#hero-text", { type: "chars" });

  gsap.from(split.chars, {
    autoAlpha: 0,
    stagger: 0.1,
  });
</script>
